/* .container {
    width: 500px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .container h1 {
    text-align: center;
    margin-bottom: 20px;
  } */
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: inline-block; /* 인라인 블록으로 변경 */
    width: 120px; /* 레이블 너비 설정 */
    text-align: right; /* 레이블 텍스트 오른쪽 정렬 */
    margin-right: 10px; /* 레이블과 입력 필드 간 간격 */
  }
  
  .input-wrapper {
    display: flex;
    align-items: center;
    
  }
  
  .form-group input {
    width: 300px; /* 입력 필드 너비 축소 */
    padding: 8px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-right: 10px;
  }
  
  .form-group span {
    background-color: #e0e0e0;
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .button-group {
    text-align: center;
    margin-top: 20px;
  }
  
  .button-group button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 3px;
  }