body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

.main-container {
    background-color: rgba(255, 255, 255, 1.00);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
}

.headerContainer {
    border-bottom: 1px solid rgba(217, 217, 217, 1.00);
    background-color: rgba(255, 255, 255, 1.00);
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    width: calc(100% - 64px);
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 32px;
}

.icon-container {
    width: 40px;
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 auto;
    padding: 0;
}

.icon {
    width: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.button {
    width: 68px;
    background-color: rgba(245, 245, 245, 1.00);
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    padding: 8px;
    border-radius: 8px;
}

.button-solutions {
    width: 70px;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    padding: 8px;
    border-radius: 8px;
}

.button-container {
    width: 178px;
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}

.button-signin {
    border: 1px solid rgba(118, 118, 118, 1.00);
    background-color: rgba(227, 227, 227, 1.00);
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
    flex: 1 1 0%;
    padding: 8px;
    border-radius: 8px;
}

.button-register {
    border: 1px solid rgba(44, 44, 44, 1.00);
    background-color: rgba(44, 44, 44, 1.00);
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
    flex: 1 1 0%;
    padding: 8px;
    border-radius: 8px;
}

.text {
    height: 16px;
    color: rgba(30, 30, 30, 1.00);
    font-family: Inter;
    font-weight: 400;
    padding: 0;
    text-align: left;
    font-size: 16px;
}

.text-register {
    color: rgba(245, 245, 245, 1.00);
}